*{
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Header{
    display:flex;    
}
.Header .Item1 img{
    width:90px;
    margin-left:100px;
    margin-top:15px;
   
}
.Header .Item2 p {
    margin-left:10px;
    margin-top:30px;
    font-size:28px;
    color:#354056;
}

.Banner{
    background-image: url(./jj.bac.jpg);
   
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100vh;
    margin-top:16px;
}
.Banner .Item3 h1 {
    text-align:center;
    color:#fff;
    font-size:111px;
    padding-top:170px;
}
.Banner .Item3 hr {
    text-align:center;
    width:600px;
    height:4px;
    margin-left:455px;
    background-color:#42a8ff;
    border:none;

}
.Banner .Item3 p {
    text-align:center;
    margin-top:35px;
    font-size:23px;
    color:#fff;
}
.Banner .Item3 a{
    margin-left:680px;
    margin-top:45px;
    border:solid 2px #42a8ff ;
    display:inline-block;
    padding:12px 24px;
    color:#ffffff;
    font-size:15px;
    text-decoration:none; 
    /* transition: all 2s ease-in-out; */
}
.Banner .Item3 a:hover{
    border:solid 2px #42a8ff ;
    color:#fff;
    background-color: #42a7ff5c;
    border-radius:50px;
    /* transition: all 2s ease-in-out; */
}
/* END Banner Section */

/* START Desing Section */
.Desing {
    background-color:#f6f9f9;
    padding-bottom:90px;
}
.Desing .Item4 h1{
    color:#353f55;
    text-align:center;
    padding-top:60px;
}
.Desing .Item5 {
  display:grid;
  grid-template-columns:850px;
  justify-content:center;
  text-align:center;
}
.Desing .Item5 p{
   color:#9e9e9e;
    margin-top:33px;
}
/* END Desing Section */

/* START Feares Section */
.Feares{
    display: grid;
    grid-template-columns: 320px 320px 320px ;
    justify-content:center;
    margin-top: 66px;
    padding-bottom:66px;
}
.Feares .Item6 img{
    border-radius:5px;
    width:80px;
    margin-left:110px;
}
.Feares .Item6 h3{
    text-align: center;
    margin-top:18px;
    color:#2b354b;
} 
.Feares .Item6 p{
    text-align: center;
    margin-top:10px;
    color:#9c9c9c;
} 
/* END Feares Section */

/* START Showcase Section  */
.Showcase{
    background-color:#f6f9f9;
    padding-bottom:100px;
}
.Showcase .tex{
    text-align:center;
    padding-top:66px;
    padding-bottom:66px;
}
.Showcase .tex h1{
    color:#364056;
    font-size:33px;
}
.Showcase .tex p{
    color: #a5a5a5;
    margin-top:14px;
}
.Showcase .phot {
    display:grid;
    grid-template-columns:auto auto auto;
    justify-content:center;
    align-content: center;
    gap:20px;
}
.Showcase .phot .img-1{
    width:360px;
    height:260px;
    background-image: url(imge/image1.jpg); 
    background-size:cover;
}
.Showcase .phot .img-1:hover{  
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image1.jpg); 
    background-size:cover; 
}
.Showcase .phot .img-2{
    width: 360px;
    height:260px;
    background-image: url(imge/image2.jpg); 
    background-size:cover;
}
.Showcase .phot .img-2:hover{
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image2.jpg); 
    background-size:cover; 
}
.Showcase .phot .img-3{
    width: 360px;
    height:260px;
    background-image: url(imge/image3.jpg); 
    background-size:cover;
}
.Showcase .phot .img-3:hover{
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image3.jpg); 
    background-size:cover; 
}
.Showcase .phot .img-4{
    width: 360px;
    height:260px;
    background-image: url(imge/image4.jpg); 
    background-size:cover;
}
.Showcase .phot .img-4:hover{
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image4.jpg); 
    background-size:cover; 
}
.Showcase .phot .img-5{
    width: 360px;
    height:260px;
    background-image: url(imge/image5.jpg); 
    background-size:cover;
}
.Showcase .phot .img-5:hover{
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image5.jpg); 
    background-size:cover; 
}
.Showcase .phot .img-6{
    width: 360px;
    height:260px;
    background-image: url(imge/image6.jpg); 
    background-size:cover;
}
.Showcase .phot .img-6:hover{
    border-radius:7px;
    background:linear-gradient(#2cadf8cf ,#44a5a1c0  ,#3a2cf886 ), url(imge/image6.jpg); 
    background-size:cover; 
}
/* END  Showcase Section  */

/* START Contact Section  */
.Contact {
    background:linear-gradient(#152e68db ,#152241db  ,#030405db ), url("https://img.freepik.com/premium-photo/closeup-empty-road-city-night_693425-25918.jpg");
    background-repeat:no-repeat;
    text-align:center;
    background-size: cover;
    height:650px;
}
.Contact .text h1{
    color:#fff;
    font-size:40px;
    padding-top:60px;
}
.Contact .text p{
    color:#fff;
    padding-top:15px;
}
.Contact form{
    color:#fff;
    padding-top:30px;
}
.Contact form #inp1{
    color:#fff;
    padding:16px;
    width:450px;
    font-size:14px;
    outline: none;
    background: transparent;
    border:solid 2px #979797;
}
.Contact form #inp2{
    margin-top:10px;
    color:#fff;
   padding:16px;
    width:450px;
    font-size:14px;
    outline: none;
    background: transparent;
    border:solid 2px #979797;
}
.Contact form #inp3{
    margin-top:10px;
    color:#fff;
    outline: none;
    background: transparent;
    border:solid 2px #979797;
    padding:16px;
    width:450px;
    font-size:14px;
}
.Contact form #inp4{
    padding-right:100px;
    margin:10px;
}
.Contact form #inp5{
    padding:10px 35px;
    background:transparent;
    border:solid 2px #42a8ff;
    outline:none;
    color:#ffffff;
    margin-top:17px ;
    margin-left:180px;
    border-radius:3px; 
}
/* END Contact Section */

/* START Footer Section */
.footer{
    display:flex;
}
.footer #Copy{
    margin-top:40px;
    padding-bottom:35px;
    padding-left:60px;
    color: #000000;
    font-size:17px;
    display:inline-block;
}
.footer #Copy span{
    color:#353f55;
    font-size:15px;
}
.footer .icons{
    margin-left:800px;
    display: grid;
    grid-template-columns:40px 50px 50px;
}
.footer .icons a{
    display: inline-block;
}
.footer .icons img{
    margin-top:30px;
    width:40px;
    display:flex;
    display: inline-block;
}
.footer .icons #ic-1{
    width:38px;
}
.footer .icons #ic-2{ 
    margin-left:10px;
}
.footer .icons #ic-3{ 
    margin-left:10px;
}
.footer .icons #ic-4{ 
    margin-left:10px;
}
/* END  Footer Section */



/* @media screen  
 (max-width:1280px) 
 (max-width:1024px) 
 (max-width:820px) 
 (max-width:540px) 
 (max-width:412px) 
  */

/* Start @media screen and (max-width:1280px) -----------------------------------*/
@media screen and (max-width:1280px) {      
/* START Banner Section */
.Banner .Item3 hr {
    margin-left:335px;
}
.Banner .Item3 a{
    margin-left:575px;
}
/* END Banner Section */

/* START Footer Section */
.footer .icons{
    margin-left:600px;
}
.footer .icons a{
    display: inline-block;
}
/* END  Footer Section */
}
/* End @media screen and (max-width:1280px) -----------------------------------*/

/* Start @media screen and (max-width:1024px) -----------------------------------*/
@media screen and (max-width:1024px) {  
/* START Header Section */
.Header .Item1 img{
    width:80px;
    margin-left:95px;
    margin-top:12px;
}
.Header .Item2 p {
    margin-left:9px;
    margin-top:25px;
    font-size:27px;
}
/* END Header Section */

/* START Banner Section */
.Banner {
   background-size:1024px 100vh;
}
.Banner .Item3 h1 {
    font-size:90px;
    padding-top:120px;
}
.Banner .Item3 hr {
    width:550px;
    height:4px;
    margin-left:238px;
}
.Banner .Item3 p {
    font-size:22px;
}
.Banner .Item3 a{
    margin-left:440px;
    margin-top:40px;
    padding:11px 23px;
    font-size:14px;
}
/* END Banner Section */

/* START Showcase Section  */
.Showcase{
    padding-bottom:85px;
}
.Showcase .tex{
    padding-top:45px;
    padding-bottom:45px;
}
.Showcase .tex h1{
    font-size:32px;
}
.Showcase .tex p{
    margin-top:15px;
}
.Showcase .phot {
    gap:18px;
}
.Showcase .phot .img-1{
    width:300px;
    height:200px;
}
.Showcase .phot .img-2{
    width:300px;
    height:200px;
}
.Showcase .phot .img-3{
    width:300px;
    height:200px;
}
.Showcase .phot .img-4{
    width:300px;
    height:200px;
}
.Showcase .phot .img-5{
    width:300px;
    height:200px;
}
.Showcase .phot .img-6{
    width:300px;
    height:200px;
}

.footer .icons{
    margin-left:450px;
}
.footer .icons img{
    margin-top:30px;
    width:35px;
}
.footer .icons #ic-1{
    width:35px;
}
/* END  Footer Section */
}

@media screen and (max-width:820px){
/* START Header Section */
.Header .Item1 img{
    width:85px;
    margin-left:90px;
    margin-top:14px;
}
.Header .Item2 p {
    margin-left:9px;
    margin-top:27px;
    font-size:27px;
}
.Banner {
   background-size:820px 100vh;
}
.Banner .Item3 h1 {
    font-size:80px;
    padding-top:210px;
}
.Banner .Item3 hr {
    width:466px;
    margin-left:176px;
}
.Banner .Item3 p {
    margin-top:30px;
    font-size:19px;
}
.Banner .Item3 a{
    margin-left:350px;
    margin-top:38px;
    padding:12px 23px;
    font-size:14px;
}
.Desing {
    padding-bottom:70px;
}
.Desing .Item4 h1{
    padding-top:50px;
}
.Desing .Item5 {
  display:grid;
  grid-template-columns:700px;
  justify-content:center;
  text-align:center;
}
.Desing .Item5 p{
    margin-top:25px;
}
.Feares{
    grid-template-columns: 250px 250px 250px ;
    justify-content:center;
    margin-top:45px;
    padding-bottom:50px;
}
.Feares .Item6 img{
    width:80px;
    margin-left:75px;
}
.Showcase{
    padding-bottom:90px;
}
.Showcase .tex{
    padding-top:50px;
    padding-bottom:50px;
}
.Showcase .tex h1{
    font-size:31px;
}
.Showcase .phot {
    grid-template-columns:auto auto ;
    gap:18px;
}
.Showcase .phot .img-1{
    width:300px;
    height:200px;
}
.Showcase .phot .img-2{
    width:300px;
    height:200px;
}
.Showcase .phot .img-3{
    width:300px;
    height:200px;
}
.Showcase .phot .img-4{
    width:300px;
    height:200px;
}
.Showcase .phot .img-5{
    width:300px;
    height:200px;
}
.Showcase .phot .img-6{
    width:300px;
    height:200px;
}
.Contact {
    background-size: 820px 94vh;
}

.footer #Copy{
    margin-top:24px;
    padding-bottom:25px;
    padding-left:50px;
    font-size:16px;
}
.footer .icons{
    margin-left:230px;
}
.footer .icons img{
    margin-top:20px;
    width:33px;
}
.footer .icons #ic-1{
    width:32px;
}
/* END  Footer Section */
}
@media screen and (max-width:540px){
/* START Header Section */
.Header .Item1 img{
    width:75px;
    margin-left:70px;
    margin-top:12px;
}
.Header .Item2 p {
    margin-left:8px;
    margin-top:24px;
    font-size:25px;
}

.Banner {
   background-size:540px 100vh;
}
.Banner .Item3 h1 {
    font-size:75px;
    padding-top:170px;
}
.Banner .Item3 hr {
    width:340px;
    margin-left:98px;
}
.Banner .Item3 p {
    margin-top:26px;
    font-size:16px;
}
.Banner .Item3 a{
    margin-left:202px;
    margin-top:34px;
    padding:11px 22px;
    font-size:13px;
}

.Desing {
    padding-bottom:80px;
}
.Desing .Item4 h1{
    padding-top:50px;
}
.Desing .Item5 {
  grid-template-columns:468px;
  font-size:16px;
}
.Desing .Item5 p{
    margin-top:22px;
}
.Feares{
    grid-template-columns: 170px 170px 170px ;
    justify-content:center;
    margin-top:40px;
    padding-bottom:40px;
}
.Feares .Item6 img{
    width:65px;
    margin-left:55px;
} 
.Showcase{
    padding-bottom:90px;
}
.Showcase .tex{
    padding-top:50px;
    padding-bottom:50px;
}
.Showcase .tex h1{
    font-size:31px;
}
.Showcase .phot {
    grid-template-columns:auto auto ;
    gap:14px;
}
.Showcase .phot .img-1{
    width:240px;
    height:140px;
    background-size:240px 140px;
}
.Showcase .phot .img-2{
    width:240px;
    height:140px;
    background-size:240px 140px;
}
.Showcase .phot .img-3{
    width:240px;
    height:140px;
    background-size:240px 140px;
}
.Showcase .phot .img-4{
    width:240px;
    height:140px;
    background-size:240px 140px;
}
.Showcase .phot .img-5{
    width:240px;
    height:140px;
    background-size:240px 140px;
}
.Showcase .phot .img-6{
    width:240px;
    height:140px;
    background-size:240px 140px;
}

.Contact {
    background-size:540px 98vh;
}
.footer #Copy{
    margin-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    font-size:12px;
}
.footer #Copy span{
    font-size:10px;
}
.footer .icons{
    margin-left:80px;
}
.footer .icons img{
    margin-top:16px;
    width:28px;
}
.footer .icons #ic-1{
    width:27px;
}
/* END  Footer Section */
}


@media screen and (max-width:412px){

.Header .Item1 img{
    width:60px;
    margin-left:50px;
    margin-top:10px;
}
.Header .Item2 p {
    margin-left:6px;
    margin-top:18px;
    font-size:22px;
}
/* END Header Section */

/* START Banner Section */
.Banner {
   background-size:412px 100vh;
}
.Banner .Item3 h1 {
    font-size:62px;
    padding-top:180px;
}
.Banner .Item3 hr {
    width:220px;
    margin-left:90px;
}
.Banner .Item3 p {
    margin-top:20px;
    font-size:14px;
}
.Banner .Item3 a{
    margin-left:160px;
    margin-top:25px;
    padding:9px 18px;
    font-size:11px;
}
/* END Banner Section */

/* START Desing Section */
.Desing {
    padding-bottom:60px;
}
.Desing .Item4 h1{
    padding-top:46px;
    font-size:28px;
}
.Desing .Item5 {
  grid-template-columns:300px;
  font-size:15px;
}
.Desing .Item5 p{
    margin-top:20px;
}
/* END Desing Section */

/* START Feares Section */
.Feares{
    grid-template-columns:250px;
    grid-template-rows:250px 250px;
    justify-content:center;
    margin-top:55px;
    padding-bottom:50px;
}
.Feares .Item6 img{
    width:70px;
    margin-left:85px;
} 
/* END Feares Section */

/* START Showcase Section  */
.Showcase{
    padding-bottom:90px;
}
.Showcase .tex{
    padding-top:50px;
    padding-bottom:50px;
}
.Showcase .tex h1{
    font-size:23px;
}
.Showcase .tex p{
    font-size:17px;
}
.Showcase .phot {
    grid-template-columns:auto;
    gap:18px;
}
.Showcase .phot .img-1{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
.Showcase .phot .img-2{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
.Showcase .phot .img-3{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
.Showcase .phot .img-4{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
.Showcase .phot .img-5{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
.Showcase .phot .img-6{
    width:280px;
    height:180px;
    background-size:280px 180px;
}
/* END  Showcase Section  */

/* START Contact Section  */
.Contact {
    background-size:412px 98vh;
}
.Contact .text h1{
    font-size:38px;
}
.Contact .text p{
    font-size:14px;
}
.Contact form #inp1{
    width:240px;
}
.Contact form #inp2{
    width:240px;
}
.Contact form #inp3{
    width:240px;
}
.Contact form #inp4{
    padding-right:30px;
    margin:10px;
}
.Contact form #inp5{
    padding:9px 33px;
    margin-top:16px ;
    margin-left:158px; 
}
/* END Contact Section */

/* START Footer Section */
.
.footer .icons{
    margin-left:25px;
}
.footer .icons img{
    margin-top:16px;
    width:25px;
    margin-left:5px;
}
.footer .icons #ic-1{
    width:24px;
}